conda_env/
log/
spanbert_coref/model/fanfiction-nlp-coref-model-2020-01.bin
*.jar
temp.out
.nfs*
*.class
.DS_Store
*.swp
*BASE*
*REMOTE*
*LOCAL*
*BACKUP*
*.orig
quote_attribution/tmp
CoreNLP/*.tmp
CoreNLP/target/
*.vscode
*.pyc
__pycache__/
quote_attribution/tmpout/
*.svmrank
tmp/
run.sh
CoreNLP/.classpath
CoreNLP/.project
CoreNLP/.settings/
CoreNLP/coref.temp
CoreNLP/*.error
config/
spanbert_coref/cache/
