# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://repo.anaconda.com/pkgs/main/noarch/tzdata-2020f-h52ac0ba_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/_libgcc_mutex-0.1-main.conda
https://repo.anaconda.com/pkgs/main/linux-64/_pytorch_select-0.1-cpu_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/blas-1.0-mkl.conda
https://conda.anaconda.org/conda-forge/linux-64/ca-certificates-2020.12.5-ha878542_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/intel-openmp-2019.4-243.conda
https://repo.anaconda.com/pkgs/main/linux-64/ld_impl_linux-64-2.33.1-h53a641e_7.conda
https://repo.anaconda.com/pkgs/main/linux-64/libgfortran-ng-7.3.0-hdf63c60_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/libstdcxx-ng-9.1.0-hdf63c60_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/libgcc-ng-9.1.0-hdf63c60_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/mkl-2020.2-256.conda
https://repo.anaconda.com/pkgs/main/linux-64/c-ares-1.17.1-h27cfd23_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/libffi-3.3-he6710b0_2.conda
https://repo.anaconda.com/pkgs/main/linux-64/libmklml-2019.0.5-0.conda
https://repo.anaconda.com/pkgs/main/linux-64/libopenblas-0.3.13-h4367d64_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/ncurses-6.2-he6710b0_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/openssl-1.1.1k-h27cfd23_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/xz-5.2.5-h7b6447c_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/zlib-1.2.11-h7b6447c_3.conda
https://repo.anaconda.com/pkgs/main/linux-64/libprotobuf-3.14.0-h8c45485_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/readline-8.1-h27cfd23_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/tk-8.6.10-hbc83047_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/sqlite-3.35.4-hdfb4753_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/python-3.8.8-hdb3f193_4.conda
https://repo.anaconda.com/pkgs/main/noarch/attrs-20.3.0-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/backcall-0.2.0-pyhd3eb1b0_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/blinker-1.4-py38h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/noarch/cachetools-4.2.1-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/catalogue-1.0.0-py38_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/chardet-4.0.0-py38h06a4308_1003.conda
https://repo.anaconda.com/pkgs/main/noarch/click-7.1.2-pyhd3eb1b0_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/coverage-5.5-py38h27cfd23_2.conda
https://repo.anaconda.com/pkgs/main/linux-64/cymem-2.0.5-py38h2531618_0.conda
https://repo.anaconda.com/pkgs/main/noarch/dataclasses-0.8-pyh6d0b6a4_7.conda
https://repo.anaconda.com/pkgs/main/noarch/decorator-5.0.6-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/filelock-3.0.12-pyhd3eb1b0_1.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/idna-2.10-pyhd3eb1b0_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/ipython_genutils-0.2.0-pyhd3eb1b0_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/lazy-object-proxy-1.6.0-py38h27cfd23_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/mccabe-0.6.1-py38_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/murmurhash-1.0.5-py38h2531618_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/ninja-1.10.2-py38hff7bd54_0.conda
https://repo.anaconda.com/pkgs/main/noarch/parso-0.8.2-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pickleshare-0.7.5-pyhd3eb1b0_1003.conda
https://repo.anaconda.com/pkgs/main/linux-64/plac-1.1.0-py38_1.conda
https://repo.anaconda.com/pkgs/main/noarch/ptyprocess-0.7.0-pyhd3eb1b0_2.conda
https://repo.anaconda.com/pkgs/main/noarch/pyasn1-0.4.8-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pycparser-2.20-py_2.conda
https://repo.anaconda.com/pkgs/main/noarch/pyparsing-2.4.7-pyhd3eb1b0_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/pyrsistent-0.17.3-py38h7b6447c_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/pysocks-1.7.1-py38h06a4308_0.conda
https://conda.anaconda.org/huggingface/linux-64/python_abi-3.8-1_cp38.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/pytz-2021.1-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/regex-2021.4.4-py38h27cfd23_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/six-1.15.0-py38h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/srsly-1.0.5-py38h2531618_0.conda
https://repo.anaconda.com/pkgs/main/noarch/threadpoolctl-2.1.0-pyh5ca1d4c_0.conda
https://repo.anaconda.com/pkgs/main/noarch/toml-0.10.2-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/tqdm-4.59.0-pyhd3eb1b0_1.conda
https://repo.anaconda.com/pkgs/main/noarch/typing_extensions-3.7.4.3-pyh06a4308_0.conda
https://repo.anaconda.com/pkgs/main/noarch/wasabi-0.8.2-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/wcwidth-0.2.5-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/werkzeug-1.0.1-pyhd3eb1b0_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/wheel-0.36.2-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/wrapt-1.12.1-py38h7b6447c_1.conda
https://repo.anaconda.com/pkgs/main/noarch/zipp-3.4.1-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/absl-py-0.12.0-py38h06a4308_0.conda
https://conda.anaconda.org/conda-forge/linux-64/certifi-2020.12.5-py38h578d9bd_1.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/cffi-1.14.5-py38h261ae71_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/importlib-metadata-3.10.0-py38h06a4308_0.conda
https://conda.anaconda.org/conda-forge/linux-64/inflect-5.3.0-py38h578d9bd_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/jedi-0.17.0-py38_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/mkl-service-2.3.0-py38he904b0f_0.conda
https://repo.anaconda.com/pkgs/main/noarch/packaging-20.9-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pexpect-4.8.0-pyhd3eb1b0_3.conda
https://repo.anaconda.com/pkgs/main/linux-64/preshed-3.0.2-py38he6710b0_1.conda
https://repo.anaconda.com/pkgs/main/noarch/prompt-toolkit-3.0.17-pyh06a4308_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pyasn1-modules-0.2.8-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/python-dateutil-2.8.1-pyhd3eb1b0_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/rsa-4.7.2-pyhd3eb1b0_1.conda
https://conda.anaconda.org/huggingface/linux-64/tokenizers-0.10.1-py38_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/traitlets-5.0.5-pyhd3eb1b0_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/typing-extensions-3.7.4.3-hd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/brotlipy-0.7.0-py38h27cfd23_1003.conda
https://repo.anaconda.com/pkgs/main/linux-64/cryptography-3.4.7-py38hd23ed53_0.conda
https://repo.anaconda.com/pkgs/main/noarch/importlib_metadata-3.10.0-hd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/markdown-3.3.4-py38h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/numpy-base-1.19.2-py38hfa32c7d_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/setuptools-52.0.0-py38h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/astroid-2.5-py38h06a4308_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/cython-0.29.22-py38h2531618_0.conda
https://repo.anaconda.com/pkgs/main/noarch/google-auth-1.21.3-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/isort-5.8.0-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/joblib-1.0.1-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/jsonschema-3.0.2-py38_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/pip-21.0.1-py38h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/protobuf-3.14.0-py38h2531618_1.conda
https://repo.anaconda.com/pkgs/main/noarch/pygments-2.8.1-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/pyjwt-1.7.1-py38_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pyopenssl-20.0.1-pyhd3eb1b0_1.conda
https://repo.anaconda.com/pkgs/main/noarch/tensorboard-plugin-wit-1.6.0-py_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/grpcio-1.36.1-py38h2157cd5_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/ipython-7.22.0-py38hb070fc8_0.conda
https://repo.anaconda.com/pkgs/main/noarch/nltk-3.5-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/oauthlib-3.1.0-py_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/pylint-2.7.4-py38h06a4308_1.conda
https://conda.anaconda.org/huggingface/noarch/sacremoses-master-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/urllib3-1.26.4-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/requests-2.25.1-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/requests-oauthlib-1.3.0-py_0.conda
https://repo.anaconda.com/pkgs/main/noarch/google-auth-oauthlib-0.4.4-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/cython-blis-0.7.4-py38h27cfd23_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/mkl_fft-1.3.0-py38h54f3939_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/mkl_random-1.1.1-py38h0573a6f_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/numpy-1.19.2-py38h54aff64_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/pandas-1.2.3-py38ha9443f7_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/pytorch-1.7.1-cpu_py38h6a09485_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/scipy-1.6.2-py38h91f5cce_0.conda
https://repo.anaconda.com/pkgs/main/noarch/tensorboard-2.4.0-pyhc547734_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/thinc-7.4.5-py38h9a67853_0.conda
https://conda.anaconda.org/huggingface/noarch/transformers-4.4.2-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/scikit-learn-0.24.1-py38ha9443f7_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/spacy-2.3.5-py38hff7bd54_0.conda
